<%= bootstrap_form_for @link, style: :horizontal, left: "col-sm-4", right: "col-sm-5" do |f| %>

  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize @link.errors.count, 'error' %> prohibited this link from being saved:</h3>
      <div class="alert alert-warning">
        <a class="close" data-dismiss="alert">&#215;</a>
        <% if @link.errors.full_messages.length > 1 %>
          <% @link.errors.full_messages.each do |msg| %>
            <%= content_tag :li, msg %>
          <% end %>
        <% else %>
          <% @link.errors.full_messages.first %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= f.text_field :title      %>
  <%= f.text_field :url        %>
  <%= f.text_field :feeds      %>
  <%= f.text_area :description %>

  <%= f.submit "Let's databeis" %>

<% end %>
