<%= form_for @link do |f| %>

  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @link.errors.count, 'error' %> prohibited this link from being saved:</h2>
      <ul>
        <% @link.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label      :title      %><br>
    <%= f.text_field :title      %>
  </p>
 
  <p>
    <%= f.label      :url        %><br>
    <%= f.text_field :url        %>
  </p>
 
  <p>
    <%= f.label      :feeds      %><br>
    <%= f.text_field :feeds      %>
  </p>
 
  <p>
    <%= f.label     :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
