<% title 'Your links' %>

<% if @links.any? %>
  <div class="panel panel-default">
    <ul class="list-group">

    <% @links.each do |link| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <span class="pull-left">
              <%= link_to ?♦,         link_path(link)            %>
              <%= link_to link.title, link.url, target: '_blank' %><%= ": #{link.description}" unless link.description.strip.empty? %>
            </span>
          </div>
          <div class="col-md-6">
            <span class="pull-right">
              <%= link_to '(Edit)',     edit_link_path(link) %> 
              <%= link_to '(Delete)',   link_path(link), method: :delete,  data: { confirm: 'Are you sure? '} %>
            </span>
          </div>
        </div>
      </li>
    <% end %>

    </ul>
  </div>
<% else %>
  <%= image_tag 'nothing.gif' %>
<% end %>